
.collection-name {
    margin: 0 -15px;
}


.collections-man {

   
width: 960px;
height: 250px;
background:  hsl(38, 40%, 96%);
}

.collections-women {



width: 960px;
height: 250px;
background: hsl(0, 0%, 96%);
}


.collection-name__title {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.03em;

color: #000000;
}