
.tshirt {
    background: hsl(38, 40%, 96%);
    &:nth-child(even) {
        background: hsl(0, 0%, 96%);
    }
}

.tshirts-color {
    position: relative;
    margin: 0 -15px;
}

.tshirts-color-item__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #000000;
}

